@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
html {
    font-family: 'JetBrains Mono', monospace;
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
}
